.button{
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 30px;
    margin-left: 80px;
    border-radius: 5px;
    background-color:rgb(156, 106, 139);   
}
.input{
    margin-top: 1.5cm;
    border-radius: 30px;
    margin-left: 5px;
    width: 180px;
    margin-left: 25px;
    height: 0.8cm;   
}
.form{   
}
.content{
    color: rgb(0, 0, 0);
    font-size: 11px;
    font-weight: 900;
}
.btn{
    height: 0.6cm;
    width: 0.5cm;
}
.user{
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 8px 8px;
    margin: 15px -10px;
    text-align: center;
    width: 110px;
    margin-left: 25px;   
}
.page{
    background-color: brown;
}