.header {
    width: 38.2cm;
    height: 5rem;
    display:flex;
    align-items: center;
    
    background-color: #3f1b2a;
    padding: 0 3%;
  }
  
  .logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .header ul {
    margin-left: 19cm;
    list-style: none;
    
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 1.5cm;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fcb8d2;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
  
  .badge {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }